.after{
    font-size: 44px;
    line-height: 1.1;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #333;
    background-clip: inherit;
    background-color: inherit;
    -webkit-text-fill-color: #333;
    position: relative;
}
*{
 font-family: 'Raleway', sans-serif;
}
p{
    font-size: 15px;
    line-height: 1.7;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #666666;

}
.first-text:after {
    content: '';
    position: absolute;
    width: 3.4rem;
    height: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    left: 0%;
    bottom: -10px;
    background-color: #f2480c;
}
@media(max-width:1024px){
    .first-text:after{
        left: 48%;
    }
}
.first-text{
    position: relative;
}
h5{
    font-size: 20px;
    color: #333333;
    text-align: left;
    font-weight: 600;
}
img{
    object-fit: cover;
}