.btn-call {
    font-size: 17px;
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    border-radius: 3em;
    color: #fff !important;
    background-color: #f2480c;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.4px;
    box-shadow: 0rem 0.813rem 1.313rem rgba(0, 0, 0, 0.1);
    transition: all .4s ease-in-out;
  
}
.btn-call:hover{
    background-color: #22282e;
}