.card{
    transition: all .4s ease-in-out;
    
}
.blog-title{
    font-family: 'Open Sans', sans-serif !important;
}

.css-1m5f78l{
    position: unset !important;
}
.css-jo3ec3{
    position: absolute !important;
    height: 100% !important;
}
.css-1oitmrd-MuiButtonBase-root-MuiCardActionArea-root{
    position: unset !important;
}

.card:hover{
    transform: scale(1.05);
}
.sub-text:after {
    content: '';
    position: absolute;
    width: 3.4rem;
    height: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    left: 48%;
    bottom: -10px;
    background-color: #f2480c;
}
@media(max-width:1024px){
    .sub-text:after{
        left: 48%;
    }
}
.sub-text{
    position: relative;
}
