.open{
    display: block;
}
.faq{
    margin-top: 20px;
}
.first-text:after {
    content: '';
    position: absolute;
    width: 3.4rem;
    height: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    left: 0%;
    bottom: -10px;
    background-color: #f2480c;
}
@media(max-width:1024px){
    .first-text:after{
        left: 48%;
    }
}
.first-text{
    position: relative;
}
.dropdown h2{
    font-size: 20px !important;
    font-weight: 600;
}
.dropdown ul li{
    font-size: 15px !important;
    font-weight: 500;
}
*{
    font-family: 'Open Sans', sans-serif;
}
.faq-form p{
    font-size: 17px;
    color: #fff;
}
.form h2{
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 36px;
    line-height: 1.6;
    margin-bottom: 27px;
}