button{
    transition: all .4s ease-in-out;
}.card{
    transition: all .4s ease-in-out;
}
.card:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root{
    transition: unset !important;
    -webkit-transition: none !important;
}
.css-1oitmrd-MuiButtonBase-root-MuiCardActionArea-root:hover{
    background: none !important;
}
.css-1oitmrd-MuiButtonBase-root-MuiCardActionArea-root{
    background: none !important;
}
.service-cards .card{
    box-shadow: none;
    border: none;
    border-radius: 0;
    position: relative !important;
}

.css-1oitmrd-MuiButtonBase-root-MuiCardActionArea-root{
    position: unset !important;
}
