.slider{
   background-size: cover;
   background-repeat: no-repeat;
   
  animation: image 10s infinite alternate;
}
@keyframes image {
   0% {
     background-image: url('https://unsplash.it/600/600');
   }
   20% {
     background-image: url('https://unsplash.it/601/601');
   }
   40% {
      background-image: url('https://unsplash.it/600/600');
    }
    60% {
      background-image: url('https://unsplash.it/601/601');
    }
    80% {
      background-image: url('https://unsplash.it/600/600');
    }
    100% {
      background-image: url('https://unsplash.it/601/601');
    }
 }
.slider span{
    
    display: inline-block;
    color: white;
 font-weight: 300;
 margin-left:20px;
 font-family: 'Raleway', sans-serif;

}
p{
   font-size: 20px;
   font-weight: 400;
   color: rgb(255, 255, 255);
   letter-spacing: 0px;
   font-family: "Open Sans";
}
button{
   font-weight: 600;
}
.slider-overlay{
   background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8));
}
.slider-img img{
  transition: all .2s ease-in-out;
}
.slider-img img:hover{
  transform: translateY(-10px);

}
.button-fix{
  padding: 15px 30px;
}
.modall::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.modall::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.modall::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
.modall::-webkit-scrollbar-thumb:hover {
  background: #555;
}